<nav class="navbar" aria-label="Main Navigation">

    <!-- Brand -->
    <div class="navbar__logo">

        <a href="index.html" class="navbar__brand">
            <!--
            <img
                src="assets/images/logos/bizinovate-logo.svg"
                alt="BiziNovate ICT Academy Logo"
                class="navbar__logo-image">
            -->

            <span class="navbar__brand-name">
                BiziNovate ICT Academy
            </span>

        </a>

    </div>

    <ul class="navbar__links">
        <li class="navbar__item">
            <a href="index.html" class="navbar__link">Home</a>
        </li>

        <li class="navbar__item">
            <a href="about.html" class="navbar__link">About</a>
        </li>

        <li class="navbar__item">
            <a href="programmes.html" class="navbar__link">Programmes</a>
        </li>

        <li class="navbar__item">
            <a href="impact.html" class="navbar__link">Community Impact</a>
        </li>

        <li class="navbar__item">
            <a href="partners.html" class="navbar__link">Partners</a>
        </li>

        <li class="navbar__item">
            <a href="contact.html" class="navbar__link">Contact</a>
        </li>

    </ul>

    <div class="navbar__actions">
        <a href="login.html" class="btn btn-secondary">
            Login
        </a>

        <a href="apply.html" class="btn btn-primary">
            Apply Now
        </a>
    </div>

</nav>